
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sora:wght@400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.boxShadowWithTransition:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

* {
  /* font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--font-signika-negative), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-sora {
  font-family: var(--font-sora), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-ubuntu {
  font-family: var(--font-ubuntu), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-maven-pro {
  font-family: var(--font-maven-pro), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-signika-negative {
  font-family: var(--font-signika-negative), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  min-height: 100vh;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
  height: 4px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E3E4E6;
  cursor: pointer;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #014DAF;
  border-radius: 8px;
  width: 2px;
  cursor: pointer;
}

/* scrollbar2 */
.custom-scrollbar2::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
  height: 4px;
  width: 2px;
}

.custom-scrollbar2::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
}

.custom-scrollbar2::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
  width: 2px;
  cursor: pointer;
}

/* recharts legend color icons */
.recharts-default-legend .recharts-legend-item svg {
  border-radius: 100%;
  /* border: 1px solid red;
  background: blue; */
  width: 8px;
  height: 8px;
  padding: 0;
}
.recharts-default-legend .recharts-legend-item span {
  font-size: 12px;
  color: #374151 !important;
}

.recharts-responsive-container .recharts-wrapper {
  /* padding-left: -20px; */
  margin-inline: -25px;
}
.recharts-responsive-container .recharts-wrapper .recharts-surface .recharts-layer.recharts-cartesian-axis-tick {
  font-size: 12px;
}

svg.recharts-surface path.recharts-rectangle {
  border-top-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
  /* fill: red !important; */
  width: 40px !important;
}


/* Styles for the toast container */
.custom-toast {
  background-color: #1a202c;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  min-width: fit-content;
  border-left: 5px solid #48bb78;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom icon size */
.custom-toast .react-hot-toast-icon {
  font-size: 24px;
}


/* custom pagination */
/* right side */
.MuiStack-root nav {
  background: transparent;
  box-shadow: none;
}
  
.MuiStack-root .MuiPagination-ul {
  justify-content: center;
  gap: 0;
}
  
.MuiStack-root .MuiPaginationItem-root {
  color: #545F7D;
  font-size: 16px;
  border-radius: 50%;
  padding: 0;
}

.MuiStack-root .MuiPaginationItem-root:hover {
  background: #afbde190;
}
  
.MuiStack-root .MuiPaginationItem-root:disabled {
  cursor: not-allowed;
}
  
/* The active/current page */
.MuiStack-root .Mui-selected {
  background-color: transparent !important;
  color: #545F7D !important;
  font-weight: bold;
}
  
/* The arrow icons (next/previous) */
.MuiStack-root .MuiPaginationItem-previousNext {
  background: #afbde190;
  color: #545F7D;
  /* background-color: #213F7D1A; */
  width: 20px;
  height: 26px;
  border-radius: 4px;
}

.MuiStack-root .MuiPaginationItem-previousNext:hover {
  background: #89a4e690;
}

/* The ellipsis (dots) */
.MuiStack-root .MuiPaginationItem-ellipsis {
  color: #6c757d;
  font-size: 20px;
}


/* left side */
.pagination {
  margin-top: .3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination .pages {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.pagination .pages span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  color: #545F7D;
}

.pagination .pages .select-container {
  /* background: #213F7D1A; */
  background: #afbde190;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: none;
}

.pagination .pages .select-container .span {
  padding: .15rem 2.2rem;
  padding-left: .8rem;
  cursor: pointer;
  flex: 1;
  /* appearance: none; */
  box-sizing: border-box;
  font-weight: 500;
  /* color: #213F7D; */
  display: flex;
  border: none;
  align-items: center;
  /* gap: 1rem; */

  appearance: none;
  background: url('/icons/np_next_2236826_000000 2.svg') no-repeat right 10px center;
  background-size: 14px;
}
/* custom pagination */



/* Styles for the toast container */
.custom-toast-success {
  background-color: #1a202c;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  min-width: fit-content;
  border-left: 5px solid #48bb78;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-toast-error {
  background-color: #1a202c;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  min-width: fit-content;
  border-left: 5px solid #d05c79;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom icon size */
.custom-toast .react-hot-toast-icon {
  font-size: 24px;
}


/* rowDropDownMenu */
#rowDropDownMenu {
  z-index: 999999 !important;
}



/* #home {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
